@charset "UTF-8";
body {
  margin: 0;
  padding: 0;
}

.products {
  width: 80%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
}

/* Navbar */
.barre {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: grey;
  /* à voir pour le changement de couler du fond de la navbar*/
}

.fa-cart-plus {
  position: absolute;
  right: 0;
  top: 10%;
  color: #e99090;
  font-size: 2.5rem;
}

.fa-cart-plus:hover {
  color: darkmagenta;
}

.fa-cart-plus .num {
  font-size: 1rem;
}

/* Navbar --- END */
/* Bannière */
.texture-paper::before {
  background: url("images/texture-paper.png");
  background-size: 280px 280px;
}

.banniere {
  width: 100%;
  margin-top: 5%;
  padding-bottom: 15%;
  background-image: url(images/Banniere.jpg);
  background-repeat: no-repeat;
}

.photo-vintage {
  width: 100%;
}

.photo-vintage h2 {
  font-size: 4rem;
  color: #fff;
  width: 70%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
}

.photo-vintage p {
  font-size: 1.7rem;
  color: #fff;
  width: 40%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
}

/* Bannière --- END */
/* Images appareils photo */
.app {
  height: 350px;
}

.Articles1, .Articles2 {
  margin-bottom: 5%;
}

/* Images appareil photo --- END */
/* Footer */
footer {
  background-color: grey;
  margin-top: 5%;
}

.fa-arrow-alt-circle-up {
  font-size: 3rem;
  color: #e99090;
  position: fixed;
  bottom: 2%;
  right: 2%;
}

.list-inline-item {
  font-size: 1.5rem;
}

.list-inline-item a {
  color: #e99090;
}

.social {
  font-size: 2rem;
  margin-left: 2%;
  color: #e99090;
}

.social:hover {
  cursor: pointer;
  color: indigo;
}

/* Footer --- END */
/* Appareils photos (corps de la page) */
.text-center {
  color: black;
  font-size: 2rem;
  font-weight: bold;
  padding-top: 2%;
}

.fa-shopping-cart {
  font-size: 1.5rem;
  position: absolute;
  width: 100%;
  padding-top: 2%;
  height: 70px;
  background-color: darkgrey;
  transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  opacity: 0;
  cursor: pointer;
  text-align: center;
}

.image:hover .cart {
  opacity: 1;
  bottom: 160px;
  width: 100%;
}

h8 {
  font-size: 1.2rem;
}

.titre-bouton {
  font-size: 1.2rem;
}

/* Appareils photos (corps de la page) -- END */
/* --------------------PAGE PANIER-------------------*/
.titrePagePanier {
  padding-top: 5%;
  width: 100%;
}

.titrePagePanier h3 {
  text-align: center;
  margin: auto;
  font-size: 2rem;
  font-weight: bold;
  text-decoration: underline;
}

.products-container {
  padding-top: 5%;
  width: 90%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0 auto;
}

.product-header {
  width: 100%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 5px solid #e99090;
}

.product-title {
  width: 25%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.price {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 25%;
}

.quantity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 20%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.total {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product {
  padding-top: 2%;
  padding-bottom: 5%;
  border-bottom: 2px solid #e99090;
  margin-bottom: 2%;
}

.produit {
  width: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding-top: 5%;
  padding-bottom: 10%;
  border-bottom: 2px solid #e99090;
}

.fa-times-circle, .fa-arrow-circle-right, .fa-arrow-circle-left {
  font-size: 1rem;
  color: #e99090;
  margin-right: 2%;
  margin-left: 2%;
}

.panierTotal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
}

.titrePanier {
  width: 20%;
}

.totalPanier {
  width: 10%;
}
/*# sourceMappingURL=style.css.map */